* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #101010;
    padding: 20px;
    justify-content: center;
}

.row2 {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: black 2px solid;
  margin-bottom: 10px;
  flex-direction: column;
}

.row3 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: black 2px solid;
}

.row4 {
  min-width: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
  border: black 2px solid;
  flex-direction: row;
  margin-top: 10px;
}

.dfa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#dfa-canvas, #complement-dfa-canvas {
  background-color: white;
}

#test-string-btn, #input-string {
  padding: 10px;
}

#dfa-status, #complement-status {
  font-size: 30px;
}